html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #eee;
    background-color: #2e3141;
}

.cats-table {
    text-align: left;
    font-size: 1.2em;
    margin: 20px;
    padding: 20px;
    border-spacing: 50px 0;
    margin: 0 auto;
}

.good {
    color: #08ec08;
}

.bad {
    color: #ff2900;
}

.diff {
    display: inline-block;
    font-size: 0.8em;
}
